<div class='w-full h-screen overflow-hidden'>

  <div class="z-50 flex flex-shrink-0 w-full h-20 px-5 bg-white shadow-md">
    <div class="w-full md:w-[25%] lg:w-[18%] flex items-center justify-center">
      <span class="ml-2 text-indigo-500 text-5xl md:text-4xl font-semibold herr-von">
          Hackaton
      </span>
    </div>
    <div class="md:w-full md:flex md:items-center md:justify-center gap-10">
      <a  href="#" class="text-base font-semibold text-indigo-500">Home</a>
      <a  href="#" class="text-base font-semibold text-gray-600 hover:text-indigo-500">Gallery</a>
      <a  href="#" class="text-base font-semibold text-gray-600 hover:text-indigo-500">Social Networks</a>
      <a  href="#" class="text-base font-semibold text-gray-600 hover:text-indigo-500">Newsletters</a>
    </div>
    <div class="flex justify-end w-[15%] md:w-[7.5%] items-center md:justify-center">
        <div
          (click)="toggleBurger()"
          class="burger group w-10 h-[30px] relative flex flex-col gap-[6.75px] items-center justify-center"
          [ngClass]="{'perform' : burgerMenu}">
          <span class="rounded bg-indigo-500"></span>
          <span class="rounded bg-indigo-500" [ngClass]="{'rotate-45': burgerMenu}"></span>
          <span class="rounded bg-indigo-500" [ngClass]="{'-rotate-45': burgerMenu}"></span>
        </div>
    </div>

    <div *ngIf="burgerMenu" class="z-50 absolute flex flex-col items-center justify-center gap-5 right-0 bottom-0 left-0 top-20 backdrop-blur-sm bg-white/50">
      <a  href="#" class="text-3xl font-semibold text-indigo-500">Home</a>
      <a  href="#" class="text-3xl font-semibold text-gray-600 hover:text-indigo-500">Gallery</a>
      <a  href="#" class="text-3xl font-semibold text-gray-600 hover:text-indigo-500">Social Networks</a>
      <a  href="#" class="text-3xl font-semibold text-gray-600 hover:text-indigo-500">Newsletters</a>
    </div>


</div>

</div>
